{% extends 'core/base.html' %}

{% block content %}

    <div style="margin-top: 70px">
        <div class="row mx-0 p-1">
            {% for captura in capturas %}
                <div class="col-6 p-1 h-100">
                    <div class="card">
                        <div class="card-body">
                            <img src="{{ captura.url }}" alt="" class="img-fluid">
                        </div>
                        <div class="card-footer text-center">
                            <a href="{% url 'detalhes' captura.pk %}" class="btn btn-outline-success">Visualizar</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}