{% extends 'core/base.html' %}

{% block content %}

    {% if capturas %}
        <div class="container">
            <div class="title mb-3">Galeria</div>
            {% for captura in capturas %}
                <div class="card p-1 mb-5">
                    <div class="card-body text-center p-0">
                        <img src="{{ captura.url }}" alt="" width="100%" height="auto">
                        <p class="font-weight-bold mt-2">{{ captura.nome }}</p>
                        <p class="text-muted">{{ captura.data }}</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'detalhes' captura.pk %}" class="btn btn-outline-success">Visualizar</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="container mt-5">
            <div class="alert alert-warning">
                Você ainda não registrou nenhuma foto :(
            </div>
        </div>
    {% endif %}

{% endblock %}