{% extends 'core/base.html' %}

{% block content %}
    <div class="container banner">
        <div class="jumbotron p-3 shadow">
            <span class="title">Sua foto:</span>
            <div class="text-center">
                <img src="{{ url_imagem }}" class='img-fluid mt-3'>
            </div>
        </div>

        {% if info %}
            {% for i in info %}
                <div class="jumbotron p-3 shadow mb-4">
                    <div class="title"><b>Nome: </b>{{ i.nome }}</div>
                    {% if i.nomes_comuns %}
                       <div><b>Nomes comuns: </b>{{ i.nomes_comuns|upper }}</div>
                    {% endif %}
                    <div><b>Probabilidade: </b>{{ i.probabilidade|floatformat:2 }}%</div>
                    {% if i.wiki %}
                        <div><b>Ver sobre: </b><a target="_blank" href="{{ i.wiki }}">Wikipédia</a></div>
                    {% endif %}
                    <div class="fotos">
                        {% for imagem in i.imagens %}
                            <img src="{{ imagem }}" class='img-fluid'>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
                <div class="alert alert-warning">
                    Não foi encontrada nenhuma correspondência para sua foto :(
                </div>
        {% endif %}
    </div>
{% endblock %}