{% extends 'core/base.html' %}

{% block link_back %}
    <a href="javascript:history.back()"><span class="material-icons">home</span></a>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card p-2 shadow mt-3 mb-5">
            <p class="text-muted">Data: {{ captura.data|date:'d/m/Y H:i' }}</p>
            <div class="text-center">
                <img src="{{ url_imagem }}" width="100%" height="auto" alt="">
            </div>
        </div>

        <h4 class="text-info mb-3">Resultados da análise...</h4>
        {% if info %}
            {% for i in info %}
                <div class="card p-3 shadow mb-4">
                    <div class="title mb-2"><b>Nome: </b>{{ i.nome }}</div>
                    {% if i.nomes_comuns %}
                       <div class="title mb-2"><b>Nomes comuns: </b>{{ i.nomes_comuns|upper }}</div>
                    {% endif %}
                    <div class="title mb-2"><b>Probabilidade: </b>{{ i.probabilidade|floatformat:2 }}%</div>
                    {% if i.wiki %}
                        <div class="title mb-2"><b>Para saber mais <a target="_blank" href="{{ i.wiki }}">clique aqui</a></b></div>
                    {% endif %}
                    {% if i.imagens %}
                        <div class="title my-2">Fotos semelhantes...</div>
                        {% for imagem in i.imagens %}
                            <img src="{{ imagem }}" width="100%" height="auto" alt="" class="my-2">
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
                <div class="alert alert-warning">
                    Não foi encontrada nenhuma correspondência para sua foto :(
                </div>
        {% endif %}
    </div>
{% endblock %}