{% extends 'core/base.html' %}
{% load static %}

{% block content %}

    <!-- BANNER -->
    <div class="container-fluid banner text-center">
        <img src="{% static 'img/banner.png' %}" alt="banner" width="auto" height="350">
    </div>

    <div class="container text-center">
        <div class="my-5">
            {% if request.user.is_authenticated %}
                <label
                    class="btn btn-lg btn-outline-success rounded-lg shadow-lg d-flex justify-content-center align-items-center mx-auto mb-5" for="foto">
                    <span class="material-icons">photo_camera</span>
                    Capturar foto
                </label>
            {% else %}
                <a
                    href="{% url 'google_login' %}"
                    class="btn btn-lg btn-outline-success rounded-lg shadow d-flex justify-content-center align-items-center mx-auto mb-5">
                    <span class="material-icons">login</span>
                    Entrar
                </a>
            {% endif %}
        </div>
        <p>
            Comece já a registrar suas fotos e conhecer mais sobre as plantas ao seu redor. <b>Django Flowers</b> é um projeto
            Open Source e está disponível neste <a href="#">link</a> do Github.
        </p>
    </div>

{% endblock %}