<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
<html>
<head>
    <title>Sair | Flores e Plantas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    {% bootstrap_css %}
</head>
<body class="bg-success text-light d-flex align-items-center" style="min-height: 100vh">
    <!-- SAIR -->
    <div class="container text-center">
        <div class="container-fluid banner text-center">
            <img src="{% static 'img/banner.png' %}" alt="banner" width="auto" height="350">
        </div>
        <div class="title">Tem certeza que quer sair?</div>
          <form method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}
              <a href="javascript:history.back()" class="btn btn-light">Voltar</a>
              <button type="submit" class="btn btn-danger">Sair</button>
          </form>
    </div>

</body>
</html>
