<nav class="navbar navbar-expand-lg fixed-top shadow px-0">
    <a href="{% url 'index' %}" class="navbar-brand title">Django Flowers</a>
    {% if request.user.is_authenticated %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="material-icons">menu</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <hr>
                </li>
                <li class="nav-item">
                    <button class="btn text-light" onclick="$('#foto').click()">
                        <span class="material-icons">add_a_photo</span> Nova foto
                    </button>
                </li>
                <li class="nav-item">
                    <a class="btn text-light" href="{% url 'capturas_usuario' %}"><span class="material-icons">collections</span> Galeria</a>
                </li>
                <li class="nav-item">
                    <a class="btn text-light"
                       href="{% url 'account_logout' %}"><span class="material-icons">logout</span> Sair</a>
                </li>
            </ul>
        </div>
    {% endif %}
</nav>