body {
    background: #EEE;
}
p {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #121212
}
.navbar {
    background-color: #30B405;
    height: 50px;
}
.navbar-collapse {
    background-color: #30B405;
}
.navbar-brand,
.navbar-brand:focus {
    color: #FAFAFA !important;
    font-size: 24px;
    font-weight: 600;
    padding: 0 0 8px 8px;
    text-decoration: none;
}
.nav-link {
    color: #FAFAFA
}
.big-icon {
    font-size: 35px;
}
.banner {
    margin-top: 75px;
}  
.title {
    font-size: 18px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
} 
#loading {
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.fotos {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 20px;
}
.card-columns {
    column-count: 2;
}